<template>
  <div class="container">
    <div v-if="!loading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Radiobase
        </h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <label for="" class="control-label"
              >Buscar por rango de fechas (existen datos de 2019-08-23 al 2019-09-09)</label
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <h2>Fecha inicio</h2>
              <datepicker
                class="text-center"
                :language="es"
                placeholder="Fecha inicio"
                v-model="fechaInicio"
                :format="customFormatter"
              ></datepicker>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <h2>Fecha fin</h2>
              <datepicker
                class="text-center"
                :language="es"
                placeholder="Fecha inicio"
                v-model="fechaFin"
                :format="customFormatter"
              ></datepicker>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-lg" v-on:click="search">Buscar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Radiobase</th>

          <th v-for="f in listaFechas" v-bind:key="f.fecha">
            {{ f.fecha }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(registro, indexreg) in listaRegistros" :key="indexreg">
          <th
            :class="getClass(r)"
            v-for="(r, index) in registro"
            :key="r + index + indexreg"
          >
            {{ r }}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import moment from "moment";

export default {
  name: "Dashboard",
  data() {
    return {
      listaRegistros: null,
      listaFechas: null,
      fechaInicio: "",
      fechaFin: "",
      es,
      loading: false
    };
  },
  created: function() {
    this.search()
  },
  methods: {
    search(){
      this.loading = false
      const params = {
        fechaInicio: (this.fechaInicio) ? this.customFormatter(this.fechaInicio) : null,
        fechaFin: (this.fechaFin) ? this.customFormatter(this.fechaFin) : null,
      };
      axios
      // .get("http://localhost:8001/historico_trafico", {params})
      .get('https://apihistoricotrafico.herokuapp.com/historico_trafico', {params})
      .then(res => {
        this.listaRegistros = res.data.listado
        this.listaFechas = res.data.listaDates
        this.loading = true
      });
    },
    getClass(valor) {
      if (isNaN(valor) || parseFloat(valor, 10) === 0) {
        return "p-3 mb-2 bg-light text-dark";
      } else if (parseFloat(valor, 10) <= 15) {
        return "p-3 mb-2 bg-danger text-white";
      } else if (parseFloat(valor, 10) > 15 && parseFloat(valor, 10) <= 40) {
        return "p-3 mb-2 bg-warning text-dark";
      } else {
        return "p-3 mb-2 bg-success text-white";
      }
    },
    customFormatter(date) {
      return moment(date).format("YYYY-MM-DD");
    }
  },
  components: {
    Datepicker
  }
};
</script>

<style></style>
